@using Nop.Web.Areas.Admin.Models.Admissions
@model AdmissionGradeDocumentRequirementModel

@{
    Layout = "_AdminPopupLayout";
    ViewBag.PageTitle = T("Admin.Grade.Admission.Document.Requirements").Text;
}

<form>
    <section class="content">
        <div class="container-fluid">
            <div class="content-header clearfix">
                <h1 class="float-left">
                    @T("Admin.Grade.Admission.Document.Requirements")
                </h1>
                <div class="float-right">
                    <button type="button" name="save" class="btn btn-primary" onclick="saveAdmissionGradeDocumentRequirement()">
                        <i class="far fa-floppy-disk"></i>
                        @T("Admin.Common.Save")
                    </button>
                </div>
            </div>
            @await Html.PartialAsync("_CreateOrUpdateAdmissionGradeDocumentRequirement", Model)
        </div>
    </section>
</form>
