@using Nop.Web.Areas.Admin.Models.Fees
@model FeeModel

<div class="card-body">

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="AcademicYearGradeSectionMappingId"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AcademicYearGradeSectionMappingId"/>
            <span asp-validation-for="AcademicYearGradeSectionMappingId"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="CustomerId"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="CustomerId"/>
            <span asp-validation-for="CustomerId"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Amount"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Amount"/>
            <span asp-validation-for="Amount"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Discount"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Discount"/>
            <span asp-validation-for="Discount"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="FeeTypeId"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="FeeTypeId"/>
            <span asp-validation-for="FeeTypeId"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="FeeDate"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="FeeDate"/>
            <span asp-validation-for="FeeDate"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Deleted"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Deleted"/>
            <span asp-validation-for="Deleted"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="CreatedBy"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="CreatedBy"/>
            <span asp-validation-for="CreatedBy"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="CreatedOnUtc"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="CreatedOnUtc"/>
            <span asp-validation-for="CreatedOnUtc"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="UpdatedBy"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UpdatedBy"/>
            <span asp-validation-for="UpdatedBy"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="UpdatedOnUtc"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UpdatedOnUtc"/>
            <span asp-validation-for="UpdatedOnUtc"></span>
        </div>
    </div>


</div>