
/* Pnotify 3.2.1 */ /*-----------------------------------------------------------------------------Start---------------------------------------------------------------*/

body > .pnotify {
    position: fixed;
    z-index: 100040
}

    body > .pnotify.pnotify-modal {
        z-index: 100042
    }

.pnotify {
    position: absolute;
    height: auto;
    z-index: 1;
    display: none;
    transition: opacity .1s linear;
    opacity: 0
}

    .pnotify.pnotify-modal {
        z-index: 3
    }

    .pnotify.pnotify-in {
        display: block;
        opacity: 1
    }

    .pnotify.pnotify-initial {
        display: block
    }

.pnotify-hidden {
    visibility: hidden
}

.pnotify.pnotify-move {
    transition: left .4s ease,top .4s ease,right .4s ease,bottom .4s ease
}

.pnotify.pnotify-fade-slow {
    transition: opacity .4s linear;
    opacity: 0
}

    .pnotify.pnotify-fade-slow.pnotify.pnotify-move {
        transition: opacity .4s linear,left .4s ease,top .4s ease,right .4s ease,bottom .4s ease
    }

.pnotify.pnotify-fade-normal {
    transition: opacity .25s linear;
    opacity: 0
}

    .pnotify.pnotify-fade-normal.pnotify.pnotify-move {
        transition: opacity .25s linear,left .4s ease,top .4s ease,right .4s ease,bottom .4s ease
    }

.pnotify.pnotify-fade-fast {
    transition: opacity .1s linear;
    opacity: 0
}

    .pnotify.pnotify-fade-fast.pnotify.pnotify-move {
        transition: opacity .1s linear,left .4s ease,top .4s ease,right .4s ease,bottom .4s ease
    }

.pnotify.pnotify-masking {
    display: block;
    -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0))
}

    .pnotify.pnotify-masking.pnotify-stack-up {
        -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0));
        mask-image: linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0))
    }

    .pnotify.pnotify-masking.pnotify-stack-left {
        -webkit-mask-image: linear-gradient(to left,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0));
        mask-image: linear-gradient(to left,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0))
    }

    .pnotify.pnotify-masking.pnotify-stack-right {
        -webkit-mask-image: linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0));
        mask-image: linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,0) 30px,rgba(0,0,0,0))
    }

.pnotify.pnotify-fade-in, .pnotify.pnotify-masking-in {
    opacity: 1
}

.pnotify .pnotify-shadow {
    -webkit-box-shadow: 0 6px 28px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 6px 28px 0 rgba(0,0,0,.1);
    box-shadow: 0 6px 28px 0 rgba(0,0,0,.1)
}

.pnotify-container {
    position: relative;
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0
}

    .pnotify-container:after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both
    }

.pnotify-closer, .pnotify-sticker {
    float: right;
    margin-left: .5em;
    cursor: pointer
}

[dir=rtl] .pnotify-closer, [dir=rtl] .pnotify-sticker {
    float: left;
    margin-right: .5em;
    margin-left: 0
}

.pnotify-title {
    font-weight: 700;
    font-size: 20px;
    display: block;
    white-space: pre-line;
    margin-bottom: .4em;
    margin-top: 0
}

.pnotify.pnotify-with-icon .pnotify-content {
    margin-left: 24px
}

[dir=rtl] .pnotify.pnotify-with-icon .pnotify-content {
    margin-right: 24px;
    margin-left: 0
}

.pnotify-pre-line {
    white-space: pre-line
}

.pnotify-icon, .pnotify-icon span {
    display: block;
    float: left
}

[dir=rtl] .pnotify-icon, [dir=rtl] .pnotify-icon span {
    float: right
}

.pnotify-modal-overlay {
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: opacity .25s linear;
    opacity: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.pnotify-modal-overlay-up {
    align-items: flex-start
}

.pnotify-modal-overlay-left {
    justify-content: flex-start;
    align-items: center
}

.pnotify-modal-overlay-right {
    justify-content: flex-end;
    align-items: center
}

.pnotify-modal-overlay.pnotify-modal-overlay-in {
    opacity: 1
}

.pnotify-modal-overlay-closes:after {
    content: 'ï¿½';
    font-family: Arial;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 .4rem #fff
}

body > .pnotify-modal-overlay {
    position: fixed;
    z-index: 100041
}

.brighttheme-info{background-color:#3598DC;color:#FFF}
.brighttheme-notice{background-color:#fff8c5;color:#777038}
.brighttheme-success{background-color:#26C281;color:#FFF}
.brighttheme-error{background-color: #C84D4D;color: #FFF;}
.pnotify-text.brighttheme-text {overflow: hidden;word-break: break-all;}
.brighttheme-success .brighttheme-title, .brighttheme-info .brighttheme-title {margin: 0;}
.pnotify.brighttheme-elem { top: auto !important; bottom: 25px; right: 25px !important; width:90%; max-width: 560px;}
.ui-pnotify .ui-pnotify-title{font-size:15px;font-weight:700;margin:0;color:inherit}
.ui-pnotify .ui-pnotify-text{font-size:13px;font-weight:400}
.pnotify-container.pnotify-shadow {width: 100% !important;padding: 10px;}

/* Pnotify 3.2.1 */ /*--------------------------------------------------------------------------------End-----------------------------------------------------------------------------------------------*/


/* 19) Magnific Popup*/ /*----------------------------------------------------------------------------Start--------------------------------------------------------------------------------------------*/

.mfp-bg, .mfp-wrap {
    position: fixed;
    left: 0;
    top: 0
}

.mfp-bg, .mfp-container, .mfp-wrap {
    height: 100%;
    width: 100%
}

    .mfp-container:before, .mfp-figure:after {
        content: ''
    }

.mfp-bg {
    z-index: 1042;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80)
}

.mfp-wrap {
    z-index: 1043;
    outline: 0 !important;
    -webkit-backface-visibility: hidden
}

.mfp-container {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

    .mfp-container:before {
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }

.mfp-align-top .mfp-container:before {
    display: none
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.mfp-close, .mfp-preloader {
    text-align: center;
    position: absolute
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    width: 90%;
    height: 90vh;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
    cursor: auto
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mfp-loading.mfp-figure {
    display: none
}

.mfp-hide {
    display: none !important
}

.mfp-preloader {
    color: #ccc;
    top: 50%;
    width: auto;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

    .mfp-preloader a {
        color: #ccc
    }

        .mfp-close, .mfp-preloader a:hover {
            color: #fff
        }

.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader {
    display: none
}

button.mfp-arrow, button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    right: 7%;
    top: 0%;
    text-decoration: none;
    opacity: .65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    font-style: normal;
    font-size: 28px;
    font-family: Arial,Baskerville,monospace;
}

    .mfp-close:focus, .mfp-close:hover {
        opacity: 1;
        filter: alpha(opacity=100)
    }

    .mfp-close:active {
        top: 5.1%;
    }

.mfp-close-btn-in .mfp-close {
    color: #333
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px
}

.mfp-figure, img.mfp-img {
    line-height: 0
}

.mfp-arrow {
    position: absolute;
    opacity: .65;
    filter: alpha(opacity=65);
    margin: -55px 0 0;
    top: 50%;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent
}

    .mfp-arrow:active {
        margin-top: -54px
    }

    .mfp-arrow:focus, .mfp-arrow:hover {
        opacity: 1;
        filter: alpha(opacity=100)
    }

    .mfp-arrow .mfp-a, .mfp-arrow .mfp-b, .mfp-arrow:after, .mfp-arrow:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 35px;
        margin-left: 35px;
        border: inset transparent
    }

    .mfp-arrow .mfp-a, .mfp-arrow:after {
        border-top-width: 13px;
        border-bottom-width: 13px;
        top: 8px
    }

    .mfp-arrow .mfp-b, .mfp-arrow:before {
        border-top-width: 21px;
        border-bottom-width: 21px;
        opacity: .7
    }

.mfp-arrow-left {
    left: 0
}

    .mfp-arrow-left .mfp-a, .mfp-arrow-left:after {
        border-right: 17px solid #fff;
        margin-left: 31px
    }

    .mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
        margin-left: 25px;
        border-right: 27px solid #3f3f3f
    }

.mfp-arrow-right {
    right: 0
}

    .mfp-arrow-right .mfp-a, .mfp-arrow-right:after {
        border-left: 17px solid #fff;
        margin-left: 39px
    }

    .mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
        border-left: 27px solid #3f3f3f
    }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

    .mfp-iframe-holder .mfp-content {
        line-height: 0;
        width: 100%;
        max-width: 80%
    }

.mfp-image-holder .mfp-content, img.mfp-img {
    max-width: 100%
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
    right: -35px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

    .mfp-iframe-scaler iframe {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 8px rgba(0,0,0,.6);
        background: #000
    }

.mfp-figure:after, img.mfp-img {
    width: auto;
    height: auto;
    display: block
}

img.mfp-img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto
}

.mfp-figure:after {
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    background: #fff
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.mfp-figure figure {
    margin: 0
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}

@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0,0,0,.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

        .mfp-img-mobile .mfp-bottom-bar:empty {
            padding: 0
        }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0,0,0,.6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}

@media all and (max-width:900px) {
    .mfp-arrow {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}

.mfp-ie7 .mfp-img {
    padding: 0
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px
}

.mfp-ie7 .mfp-container {
    padding: 0
}

.mfp-ie7 .mfp-content {
    padding-top: 44px
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0
}

/* 19) Magnific Popup*/ /*----------------------------------------------------------------------End--------------------------------------------------------------------------*/
